[Unit]
Description=Pibot service
After=network-online.target
#Wants=network-online.target

[Service]
#Type=exec
User=openhab
Group=openhab
ExecStart=/opt/pibot/pibot
#ExecStop=/bin/kill -2 $MAINPID
WorkingDirectory=/opt/pibot
Environment="LD_LIBRARY_PATH=/opt/pibot/lib"
KillSignal=SIGINT
#Restart=on-failure
#RestartSec=60

[Install]
WantedBy=multi-user.target

